* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI", Roboto, Helvetica, Arial;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
    height: 50rem;
}



.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;

}

.instagram-logo {
    height: 100px;
}

.input-login-senha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.input-login-senha {
    margin-top: 24px;
}

.input-login-senha input {
    margin: 0 40px 6px;
    padding: 9px 0px 7px 8px;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    border-radius: 3px;
    outline: 0;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

group:nth-child(1) {
    height: 19em;
}

.instagram-logo {
    height: 3em;
}

.instagram-entrar {
    color: white;
    font-weight: 600;
    line-height: 1.125em;
    font-size: 0.975em;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgba(0,149,246,.3);
    border-radius: 3px;
    padding: 5px 9px;
    width: 100%;

}

.entrar-com {
    margin-top: 15px;
    margin-bottom: 15px;
}

.entrar-com-facebook {
    color: #385185;
    font-weight: 600;
    font-size: 1.125em;
}

.seguro-barras {
    display: flex;
    margin: 10px 40px 18px;
    flex-direction: row;
    
}

.entrar-ou {
    display: flex;
    margin: 0 18px;
}

.pseudo-after {
    content: "";
    display: flex;
    flex-grow: 1;
    width: 95px;
	height: 1px;
	background: #dbdbdb;
	margin: 8px auto;
}

.pseudo-before {
    content: "";
	display: flex;
    width: 95px;
	height: 1px;
	background: #dbdbdb;
	margin: 8px auto;
}
